form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
}
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: lightblue;
    transition: background-color 0.75s ease;
}